[mysql]
# REQUIRED: MySQL database username
user = your_db_user
# REQUIRED: MySQL database password
password = your_db_password
# REQUIRED: Name of the database to back up
database = your_database_name

[backup]
# REQUIRED: Local directory to store database backup dumps
local_backup_dir = /path/to/local/backup

[ssh]
# REQUIRED: Remote server hostname for transferring backups
host = remote.server.com
# REQUIRED: SSH port (default: 22)
port = 22
# REQUIRED: SSH username for remote server
user = remote_user
# REQUIRED: SSH password for remote server
password = remote_password
# REQUIRED: Remote directory to store backup files
remote_backup_dir = /path/to/remote/backup
